.husky/
node_modules/
src/

assets/

.git/
.gitignore

.nvmrc

.huskyrc

.swcrc

tsconfig.json
tsconfig.build.json
tsup.config.ts

.eslintrc.json
eslint.config.js
.lintstagedrc.json
.prettierignore
prettier.config
.prettierrc.json

yarn.lock
yarn-error.log